{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}variation sales multilinegraph{% endblock %}</h1>
{% endblock %}
{% block content%}
<head>
    <meta charset="utf-8">
    <style>
        // our CSS here!
    </style>
</head>
<body>
    <div id="formDiv">
        <form method="post">
	    <select name="listing" id="listing">
		{% if g.listings is not none %}
		{% for i in g.listings %}
		    <option value="{{i}}">{{i}}</option>
		{% endfor %}
		{% endif %}
	    </select>
	    <label for="listing">listing</label><br>
		
	    <input name="frequency" id="frequency" value='W' required>
	    <label for="frequency">frequency</label><br>
		
	    <input type="checkbox" name="smooth" id="smooth" value="yes">
	    <label for="smooth">smooth</label><br>
		
	    <input type="submit" value="Graph">

       </form>
    </div>
    <div id="graphDiv"></div>
	<script src="https://d3js.org/d3.v6.min.js"></script>
    	<script>
var smooth = {{smooth}}

height = 600;
width = 900;
margin = ({top: 20, right: 20, bottom: 30, left: 30});;

data = (async function(){
  const data = await d3.csv("{{url_for('static', filename='d3test.csv')}}");

  const columns = data.columns.slice(1);
  return {
    y: "Sales",
    series: data.map(d => ({
      name: d.Variations.replace(/, ([\w-]+).*/, " $1"),
      values: columns.map(k => +d[k])
    })),
    dates: columns.map(d3.utcParse("%Y-%m-%d"))
  };
})();

x = d3.scaleUtc()
    .domain(d3.extent(data.dates))
    .range([margin.left, width - margin.right])

y = d3.scaleLinear()
    .domain([0, d3.max(data.series, d => d3.max(d.values))]).nice()
    .range([height - margin.bottom, margin.top])

yAxis = g => g
    .attr("transform", `translate(${margin.left},${margin.right})`)
    .call(d3.axisLeft(y))
    .call(g => g.select(".domain").remove())
    .call(g => g.select(".tick:last-of-type text").clone()
        .attr("x", 3)
        .attr("text-anchor", "start")
        .attr("font-weight", "bold")
        .text(data.y))

xAxis = g => g
    .attr("transform", `translate(0,${height - margin.bottom})`)
    .call(d3.axisBottom(x).ticks(width / 80).tickSizeOuter(0))


line = d3.line()
//    .curve(d3.curveBasis)
    .defined(d => !isNaN(d))
    .x((d, i) => x(data.dates[i]))
    .y(d => y(d));

if (smooth){
    line.curve(d3.curveBasis)
}

//d3 = require("d3@^6.1");

chart = (function(){
  const svg = d3.create("svg")
    .attr("viewBox", [0, 0, width, height])
    .style("overflow", "visible");

  svg.append("g")
  .call(xAxis);

  svg.append("g")
  .call(yAxis);

  const path = svg.append("g")
    .attr("fill", "none")
    .attr("stroke", "steelblue")
    .attr("stroke-width", 1.5)
    .attr("stroke-linejoin", "round")
    .attr("stroke-linecap", "round")
    .selectAll("path")
    .data(data.series)
    .join("path")
    .style("mix-blend-mode", "multiply")
    .attr("d", d => line(d.values));

  svg.call(hover, path);

  return svg.node();
})();


function hover(svg, path) {

  if ("ontouchstart" in document) svg
      .style("-webkit-tap-highlight-color", "transparent")
      .on("touchmove", moved)
      .on("touchstart", entered)
      .on("touchend", left)
  else svg
      .on("mousemove", moved)
      .on("mouseenter", entered)
      .on("mouseleave", left);

  const dot = svg.append("g")
      .attr("display", "none");

  dot.append("circle")
      .attr("r", 2.5);

  dot.append("text")
      .attr("font-family", "sans-serif")
      .attr("font-size", 10)
      .attr("text-anchor", "middle")
      .attr("y", -8);

  function moved(event) {
    event.preventDefault();
    const pointer = d3.pointer(event, this);
    const xm = x.invert(pointer[0]);
    const ym = y.invert(pointer[1]);
    const i = d3.bisectCenter(data.dates, xm);
    const s = d3.least(data.series, d => Math.abs(d.values[i] - ym));
    path.attr("stroke", d => d === s ? null : "#ddd").filter(d => d === s).raise();
    dot.attr("transform", `translate(${x(data.dates[i])},${y(s.values[i])})`);
    dot.select("text").text(s.name);
  }

  function entered() {
    path.style("mix-blend-mode", null).attr("stroke", "#ddd");
    dot.attr("display", null);
  }

  function left() {
    path.style("mix-blend-mode", "multiply").attr("stroke", null);
    dot.attr("display", "none");
  }
}


d3.select('#graphDiv').append(() => chart)

	</script>
</body>

{% endblock %}

