{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}variation sales multilinegraph{% endblock %}</h1>
{% endblock %}
{% block content %}
<head>
    <meta charset="utf-8">
    <style>
        // our CSS here!
    </style>
</head>
<body>
    <div id="formDiv">
        <form method="post" enctype=multipart/form-data>
	    <select name="listing" id="listing">
		{% if g.listings is not none %}
		{% for i in g.listings %}
		    <option value="{{i}}">{{i}}</option>
		{% endfor %}
		{% endif %}
	    </select>
	    <label for="listing">listing</label><br>
		
	    <input name="frequency" id="frequency" value={{g.freq}} required>
	    <label for="frequency">frequency</label><br>
	    {% if g.smooth %}
	    <input type="checkbox" name="smooth" id="smooth" checked>
	    {% else %}
	    <input type="checkbox" name="smooth" id="smooth">
	    {% endif %}
	    <label for="smooth">smooth</label><br>
		
	    <input type="submit" value="Graph">

       </form>
    </div>
    <div id="graphDiv"></div>
    	<script src="https://d3js.org/d3.v5.min.js"></script>
    	<script type="module">
	import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";

	import define from "https://api.observablehq.com/@greenford/multi-line-chart.js?v=3";

	const main = new Runtime().module(define, Inspector.into("#graphDiv"));

	(async function() {
	  main.redefine("data", (async function(){
		  const data = await d3.csv('{{url_for("static", filename=g.pt)}}');
		  const columns = data.columns.slice(1);
		  return {
		    y: "Sales",
		    series: data.map(d => ({
		      name: d.SKU.replace(/, ([\w-]+).*/, " $1"),
		      values: columns.map(k => +d[k])
		    })),
		    dates: columns.map(d3.utcParse("%Y-%m-%d"))
		  };
		})())
	})();


	</script>
	<a href="{{ url_for('static', filename=g.pt) }}">Download CSV</a>
</body>

{% endblock %}

